.curseur-ourson {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, width 0.1s ease;
  z-index: 20000;
}

* {
  cursor: none !important;
}